<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.js "></script>
<script>
  // const data = {
  //   name: '爱情公寓'
  // }
  //
  // $.post('/details', data, function (res) {
  //   console.log(res)
  // })
  //
  // const data2 = {
  //   url: 'http://app.baiyug.cn:2019/vip/?url=http://www.le.com/ptv/vplay/24894114.html'
  // }
  //
  // $.post('/video', data2, function (res) {
  //   console.log(res)
  // })
  //
  // // $.post('/search', data, function (res) {
  // //   console.log(res)
  // // })

</script>
</body>
</html>